<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YangPlanet - Relatório de Viabilidade</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- <link rel="stylesheet" href="/webappdj/static/css/style.css" /> -->
  </head>
  <body>
    <div style="min-height: 90vh; width: 100vw; background-color: rgba(0, 0, 0, 0); display: flex; flex-flow: column; justify-content: center; align-items: center;">
      <h1>YangPlanet!</h1>
      <p>Bem vindo.</p>
      <a href="/formulario/">Gerar Formulário</a>
    </div>
    <div class="rodape">
      <div class="rodape-sub">
        <div class="div-hr"></div>
        <br />
        <p>YangPlanet&copy;2024</p>
      </div>
    </div>
  </body>
</html>
