<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YangPlanet - Relatório de Viabilidade</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- <link rel="stylesheet" href="/webappdj/static/css/style.css" /> -->
</head>
<body>
  <div style="min-height: 90vh; width: 100vw; background-color: rgba(0, 0, 0, 0); display: flex; flex-flow: column; justify-content: center; align-items: center;">
    <div class="container">
      <h1>🎉 Relatório Gerado com Sucesso! 🎉</h1>
      <p class="msg-sucesso">
          A partir dos dados fornecidos, nossa equipe da <strong>Yang Planet </strong>
          já processou o seu relatório.</br>
          Em breve, <strong>você receberá um e-mail</strong> no endereço informado, contendo o relatório como anexo.</br></br>
          O envio pode levar alguns minutos.</br></br>
          Agradecemos pela confiança em nossos serviços!</p></br>
      <a href="/formulario/">Voltar ao Formulário</a></br></br>
  </div>
  </div>
  <div class="rodape">
    <div class="rodape-sub">
      <div class="div-hr"></div>
      <br />
      <p>YangPlanet&copy;2024</p>
    </div>
  </div>
</body>
</html>


